/* Add CSS Styling */

.odd-elements {
    background-color: rgb(255, 192, 203);
    font-family: Verdana, "DejaVu Sans", sans-serif;
}

.highlighted {
    font-size: 24px;
}

#num-2 {
    color: #0000ff;
    font-size: 36px;
}

#num-4 {
    background-color: #90ee90;
    font-size: 24px;
    font-weight: bold;
}